<!--
  Generated template for the CaseNoticePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>case-notice</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  
</ion-content>
