<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar> -->

</ion-header>


<ion-content>
  <div class="normal-page">
    <div class="pos-bg">
      <img src="../../assets/imgs/login-bg.png" alt="">
    </div>
    <div class="flex-page login-page">
      <div class="login-page-box text">
        <img src='../../assets/imgs/logo.png' />
        <span>app名字</span>
      </div>
      <div class="ion-input-box margin-top-40" *ngIf='showPhone'>
        <input type="text" placeholder="用户名" (focus)="focusInput()" (blur)="blurInput()">
      </div>
      <div class="ion-input-box" *ngIf='showPhone'>
        <input type="password" placeholder="密码" (focus)="focusInput()" (blur)="blurInput()">
      </div>
      <div class="ion-input-box margin-top-40" *ngIf='!showPhone'>
        <input type="text" placeholder="用户名" [ngModel]='username' (focus)="focusInput()" (blur)="blurInput()">
      </div>
      <div class="ion-input-box pos-relative margin-top-40" *ngIf='!showPhone'>
        <input type="text" placeholder="请输入验证码" [ngModel]='code' (ngModelChange)='checkCode($event)' (focus)="focusInput()"
          (blur)="blurInput()">
        <span class="pos-code" (click)="getCode()"><span *ngIf='codeNum > 0 && codeNum <= 60'> ({{codeNum}}S) </span>{{codeString}}</span>
      </div>
      <div class="ion-input-box">
        <div class="btn-login text" (click)='login()'>登录</div>
      </div>
      <div class="footer">
        <div class="text" (click)='changeLoginType()'>账号登录</div>
      </div>

      <div class="page-footer-register" *ngIf='!isHide'>
        <div class="text">
          自我管理APP的solgan
        </div>
      </div>
    </div>
  </div>
</ion-content>