page-login {
    .normal-page{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        .login-page{
            img{
                width: 150px;
                height: 150px;
            }
            .login-page-box{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                text-align: center;
                margin: 5.5rem 0 15px 0;
                img{
                    margin: 10px 0;
                    width: 150px;
                    height: 150px;
                }
            }
            .ion-input-box{
                // height: 40px;
                background: #fff;
                line-height: 40px;
                margin: 6px 0;
                width: 75%;
                border-radius: 20px;
                input{
                    padding-left: 15px;
                    width: 100%;
                    border-radius: 20px;
                    border: 1px solid #ccc;
                }
                button{
                    height: 40px;
                    width: 100%;
                    border: 0;
                    border-radius: 20px;
                    background: #58B5FC;
                }
            }
            .margin-top-30{
                margin-top: 40px;
            }
            .color666{
                color: #666;
            }
        }
        .footer{
            margin: 2rem 0;
            .text{
                color: #58B5FC;
            }
        }
    }
    .flex-page{
    }
    .pos-relative{
        position: relative;
    }
    .pos-bg{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -10;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .pos-code{
        position: absolute;
        right: 10px;
        top: 2px;
        color: #58B5FC;
    }
    .ion-input-box{
        .btn-login{
            width: 100%;
            height: 100%;
            background: #58B5FC;
            border-radius: 20px;
            color: #fff;
            text-align: center;
            box-shadow: 0 0 3px #58B5FC;
        }
    }
    .page-footer-register{
        position: absolute;
        bottom: 3rem;
        width: 100%;
        text-align: center;
    }
}
