page-chat-group {
    .normal-page{
        .page-content{
            .pos-top{
                padding: 16px;
                width: 90%;
                margin-top: 1rem;
                margin-left: 5%;
                box-shadow: 0 0 3px #ccc;
                border-radius: 0.5rem;
                background: #fff;
                display: flex;
                flex-direction: column;
                color: #58B5FC;
                div{
                    padding: 0.7rem 0;
                }
            }
            .list-content{
                padding: 16px;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    width: 100%;
                    margin-top: 0.5rem;
                    li{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 25%;
                        .header-img{
                            width: 4.2rem;
                            height: 4.2rem;
                            overflow: hidden;
                            img{
                                height: 4.2rem;
                            }
                        }
                        .detail{
                            color: #F7C6AC;
                            border: 1px solid #58B5FC;
                            border-radius: 1rem;
                            margin-top: -0.5rem;
                            padding: 0 0.5rem;
                            background: #fff;
                        }
                        .user-name{
                            padding: 0.7rem 0;
                        }
                    }
                }
            }
        }
        
        .footer-btn{
            margin: 0 0 1.5rem 0;
            width: 100%;
            display: flex;
            justify-content: center;
            .choice-btn{
                width: 70%;
                line-height: 3.4rem;
                margin-top: 2rem;
                text-align: center;
                background: #58B5FC;
                color: #fff;
                box-shadow: 0 0 3px #58B5FC;
                border-radius: 1.7rem;
            }
        }
    }
    
}
