<!--
  Generated template for the ChoiceItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>小组</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="normal-page">
    <div class="page-content">
      <div class="pos-top" *ngIf='!canShow'>
        <div>
            徐汇四和花园居委糖尿病—A组
        </div>
        <div>活动时间：每周三14：30--A组</div>
        <div>地址：徐汇区中山西路街道</div>
      </div>
      <div class="list-content">
        <div class="title">列表成员: 20人</div>
        <ul>
          <li *ngFor='let item of listData'>
            <div class="header-img">
              <img src="{{item.img}}" alt="">
            </div>
            <div class="detail">
              {{item.title}}
            </div>
            <div class="user-name">
                {{item.name}}
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-btn">
      <div class="choice-btn" (click)='choiceQuit()'>
        群组聊天
      </div>
    </div>
  </div>
</ion-content>