<ion-tabs #myTabs>
  <ion-tab [root]="tab1Root" tabTitle="首页" tabIcon="tab-home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="课程" tabIcon="tab-class"></ion-tab>
  <ion-tab *ngIf='canShow' [root]="tab3Root" tabTitle="计划" tabIcon="tab-plan"></ion-tab>
  <ion-tab *ngIf='canShow' [root]="tab4Root" tabTitle="我的" tabIcon="tab-mine"></ion-tab>
</ion-tabs>
