page-questionnaire {
    .normal-page{
        .page-top{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem 0;
            .text{
                border: 1px solid #F7C1A5;
                line-height: 2.5rem;
                border-radius: 1.25rem;
                padding: 0 1.5rem;
            }
        }
        .page-center{
            padding: 1rem 1rem 0 1rem;
            box-shadow: 0 0 3px #ccc;
            margin: 4rem 2rem 0 2rem;
            border-radius: 0.5rem;
            .title{
                text-align: center;
                padding-bottom: 1.5rem;
            }
            .inp{
                height: 3.2rem;
                width: 100%;
                border-bottom: 1px solid #ccc;
                input{
                    height: 3rem;
                    width: 100%;
                    text-align: center;
                    border: 0;
                }
            }
            .inp:last-child{
                border: 0;
            }
        }
        .tips-page{
            text-align: right;
            padding: 1rem 2rem;
            color: #F7C1A5;
        }
        .page-footer{
            text-align: center;
            position: absolute;
            bottom: 4rem;
            width: 100%;
            // margin: 1rem 0;
            button{
                margin-top: 1rem;
                width: 80%;
                height: 3rem;
                line-height: 3rem;
                border-radius: 1.5rem;
                color: #fff;
            }
        }
        .pos-modal{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 99;
            .pos-dialog{
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3);
                .pos-content{
                    padding: 1.6rem 2rem;
                    width: 100%;
                    height: 100%;
                    background: #fff;
                    .font-color1{
                        padding: 0 0.5rem;
                    }
                    .title{
                        height: 3.3rem;
                        line-height: 3.3rem;
                    }
                    .content{
                        line-height: 2.5rem;
                        letter-spacing: 3px;
                        text-indent: 2rem;
                    }
                    .footer{
                        text-align: center;
                        margin: 1rem 0;
                        .right-sign{
                            display: flex;
                            width: 100%;
                            justify-content: center;
                            signature-pad {
                                canvas {
                                  border: dashed 1px #cccccc;
                                  width: 100%; 
                                  height: 120px;
                                }
                            }
                        }
                        button{
                            margin-top: 1rem;
                            width: 80%;
                            height: 3rem;
                            line-height: 3rem;
                            border-radius: 1.5rem;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
