<!--
  Generated template for the QuestionnairePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <ion-title>
            问卷调查
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
  <div class="normal-page">
    <div class="page-top">
      <img src="../../assets/imgs/circle.png" alt="">
      <img src="../../assets/imgs/notice-line.png" alt="">
      <div class="text">
        个人信息
      </div>
      <img src="../../assets/imgs/notice-line.png" alt="">
      <img src="../../assets/imgs/circle.png" alt="">
    </div>
    <div class="page-center">
      <div class="title">请填写个人信息</div>
      <div class="inp">
        <input type="text" placeholder="姓名">
      </div>
      <div class="inp">
        <input type="text" placeholder="联系方式">
      </div>
      <div class="inp">
        <input type="text" placeholder="家庭住址">
      </div>
      <div class="inp">
        <input type="text" placeholder="年龄">
      </div>
      <div class="inp">
        <input type="text" placeholder="学历">
      </div>
      <div class="inp">
        <input type="text" placeholder="配偶">
      </div>
    </div>
    <div class="tips-page">
      1/6
    </div>
    <div class="page-footer">
      <button class="button">下一步</button>
    </div>

    <div class="pos-modal" *ngIf='showModal'>
      <div class="pos-dialog">
        <div class="pos-content">
          <div class="title">
              问卷开始前，请您仔细阅读以下知情同意书
          </div>
          <div class="content">
              知情同意书研究项目名称因为您具备XXX研究的入组条件，所以我们邀请您参加这项研究。请您仔细阅读本知情同意书并慎重做出是否参加研究的决定。研究医生或者研究人员非常愿意与您讨论并解释知情同意书中您不明白的相关内容。在您做出是否参与此项研究的决定之前，您可以和的家人及朋友进行充分讨论。若您正在参加其他研究，请务必告诉您的研究医生或者研究人员。 XXX作为组长单位的主要研究者负责开展这项由XXX资助的研究。
          </div>
          <div class="footer">
            <div class="right-sign">
              <span>签名：</span>
              <signature-pad [options]="signaturePadOptions" id="signatureCanvas"></signature-pad>
              <span (click)='drawClear()'>清除</span>
            </div>
            <!-- <div>
              <button (click)='drawComplete()'>显示图片</button>
              <img [src]="signatureImage" *ngIf="signatureImage" />
            </div> -->
            <div class="btn">
              <button class="button" (click)='knows()'>我知道了</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
