<ion-header>

  <ion-navbar color='primary'>
    <ion-title>群组聊天</ion-title>
    <button ion-button clear icon-right (click)='chatGroup()' style="padding: 0; position: absolute; right: 6px; top: 6px;height: 22px;background: #58B5FC">
      <img class="back-btn" src="../../../assets/imgs/chat-list.png" />
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="刷新...">
    </ion-refresher-content>
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div class="normal-page">
    <div class="pos-new-num" *ngIf="showNewsNum" (click)='allNews()'>
      104条新消息
      <img src="../../assets/imgs/to-top-icon.png" alt="">
    </div>
    <div *ngFor="let message of messages" class="message-wrapper" on-hold="onMessageHold($event, $index, message)">
      <!-- 判断消息是发送 -->
      <div *ngIf="user._id !== message.userId" class='message'>
        <div class="chat-user">
          <div class="header-img margin-right5">
            <img (click)="viewProfile(message)" class="profile-pic left" [src]="toUser.pic" />
          </div>
          <div class="chat-bubble">
            <div class="chat-username">{{user.username}}</div>
            <div class="chat-message" [innerHTML]="message.text" autolinker> </div>
            <div class="message-detail">
              <span>{{message.date | moment:"ago" | lowercase}}</span>
            </div>
          </div>
        </div>

        <!--  wave-->

      </div>
      <!-- 判断消息是发送 -->
      <div *ngIf="user._id == message.userId" class='message'>
        <div class="chat-user flex-end">
          <div class="chat-bubble text-right">
            <div class="chat-username">{{user.username}}</div>
            <div class="chat-message" [innerHTML]="message.text" autolinker> </div>
            <div class="message-detail">
              <span>{{message.date | moment:"ago" | lowercase}}</span>
            </div>
          </div>
          <div class="header-img margin-left5">
            <img (click)="viewProfile(message)" class="profile-pic left" [src]="toUser.pic" />
          </div>
        </div>
        <div class="cf"></div>
      </div>
    </div>
  </div>

</ion-content>
<!-- 底部固定的输入框 -->
<ion-footer>
  <ion-item *ngIf='!audio'>
    <span (click)='changeAudio()' class='footer-item-start' item-start>
      <img src='../../assets/imgs/yuyin.png'>
    </span>
    <ion-input class='footer-item-input' [(ngModel)]="chatBox" placeholder="Send {{toUser.username}} a message..."></ion-input>
    <span class='footer-item-end' (click)="send(chatBox)" item-end>
      <!-- <ion-icon class="footer-btn" name="send"></ion-icon> -->
      发送
    </span>
  </ion-item>

  <ion-item *ngIf='audio'>
    <span (click)='changeAudio()' class='footer-item-start' item-start>
      <img src='../../assets/imgs/jianpan.png'>
    </span>
    <button class="footer-item-btn" (touchstart)='btnTouchstart()' (touchend)='btnTouchend()'>
      按住说话
    </button>
    <span class='footer-item-end' (click)="send(chatBox)" item-end>
      <!-- <ion-icon class="footer-btn" name="send"></ion-icon> -->
      发送
    </span>
  </ion-item>
</ion-footer>