page-chat {
    .footer-item-start{
        img{
            width: 30px;
            height: 30px;
        }
    }
    .footer-item-input{
        padding-left: 1rem;
        width: 100%;
        height: 30px;
        margin: 0 auto;
        border-radius: 20px;
        background: #fff;
        color: #868888;
        font-size: 1.2rem;
        line-height: 30px;
        text-align: center;
        border: 1px solid #ccc;
    }
    .text-input-ios{
        margin: 0;
    }
    .footer-item-end{
        font-size: 14px;
        color: #58B5FC;
    }
    .item-ios.item-block .item-inner{
        border: 0;
    }
    .footer-item-btn{
        width: 100%;
        height: 30px;
        margin: 0 auto;
        border-radius: 20px;
        background: #fff;
        color: #868888;
        font-size: 1.2rem;
        line-height: 30px;
        text-align: center;
        border: 1px solid #ccc;
    }
    .normal-page{
        position: relative;
        .pos-new-num{
            z-index: 10;
            position: fixed;
            right: -2rem;
            bottom: 15rem;
            width: 14rem;
            line-height: 4rem;
            height: 4rem;
            background: #58B5FC;
            color: #fff;
            text-align: center;
            border-radius: 2rem;
        }
        .message-wrapper {
            position: relative;
            :last-child {
                margin-bottom: 10px;
            }
            .text-right{
                text-align: right;
            }
            .flex-end{
                justify-content: flex-end;
            }
            .margin-left5{
                margin-left: 0.5rem;
            }
            .margin-right5{
                margin-right: 0.5rem;
            }
            .message{
                .chat-user{
                    display: flex;
                    .header-img{
                        width: 4.5rem;
                        height: 4.5rem;
                        border-radius: 50%;
                        border: 1px solid #ccc;
                        overflow: hidden;
                        img{
                            width: 100%;
                        }
                    }
                    .chat-bubble{
                        width: 21rem;
                        .chat-username{
                            height: 2rem;
                            line-height: 2rem;
                        }
                        .chat-message{
                            max-width: 100%;
                            display: inline-block;
                            box-shadow: 0 0 3px #58B5FC;
                            border-radius: 0.3rem;
                            padding: 0.5rem;
                        }
                        .message-detail{
                            margin: 0;
                            font-size: 0.8rem;
                            text-align: center;
                            span{
                                display: inline-block;
                                margin: 0.5rem 0;
                                padding: 0.2rem 0.5rem;
                                background: #EDEDED;
                                border-radius: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
    
}
