<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            计划
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="normal-page">
        <div class='segment-box'>
            <ion-slides class="slide-title" [slidesPerView]="pageNumber" [pager]="false">
                <ion-slide *ngFor="let slide of slides; let i = index;">
                    <div (click)="onClick(i)">
                        <span class="slide-title-unit"
                            [ngClass]="{'slide-title-active': selectedIndex == i}">{{slide}}</span>
                    </div>
                </ion-slide>
            </ion-slides>
            <div class="switch-box" [ngSwitch]="selectedIndex">
                <!-- <ion-list>

                            <ion-item-sliding>
            
                                <ion-item>
                                    <div class="ion-list">
                                        <div>0</div>
                                        <div>9</div>
                                        <div>8</div>
                                    </div>
                                </ion-item>
            
                                <ion-item-options>
                                    <button primary (click)='editItem(item)'>修改</button>
                                    <button style="background: #ED6161" (click)="removeItem(item)">删除</button>
                                </ion-item-options>
                            </ion-item-sliding>
            
                        </ion-list> -->
                <ion-list *ngSwitchCase="0">

                    <div class="switch-box-item">
                        <div *ngFor='let item of weekData' [ngClass]="{'item-li':true, 'choice': item.flag}">
                            <div>{{item.text}}</div>
                            <div>3</div>
                        </div>
                    </div>
                    <ion-item-sliding>
                        <ion-item>
                            <div class="switch-box-detail">
                                <div class="detail-item">
                                    <checkbox [values]='val' (out)='outpust($event)'></checkbox>
                                    <div class="second-text">
                                        <div>饭后散步</div>
                                        <div>14：30</div>
                                    </div>
                                </div>
                                <evaluate [datas]='evaData' (out)='evaOut($event)'></evaluate>
                            </div>
                        </ion-item>
                        <ion-item-options>
                            <button class="ion-item-btn" (click)='editItem(item)'>修改</button>
                        </ion-item-options>
                    </ion-item-sliding>
                </ion-list>
                <ion-list *ngSwitchCase="1">
                    <div class="switch-box-item-confirm">
                        <div class="pos-div">
                            3.2—3.9
                        </div>
                        <div class="confirm1">
                            <div class="confirm1-left">
                                <span>饭后散步</span>
                                <span>14：30</span>
                            </div>
                            <div class="confirm1-right">
                                <span>自信心：9分</span>
                            </div>
                        </div>
                        <div class="confirm2">
                            <div class="confirm2-item">日</div>
                            <div class="confirm2-item"></div>
                            <div class="confirm2-item"></div>
                            <div class="confirm2-item"></div>
                            <div class="confirm2-item"></div>
                            <div class="confirm2-item"></div>
                            <div class="confirm2-item"></div>
                        </div>
                        <div class="confirm3">
                            <div class="confirm3-item">
                                <div class="confirm3-item-checkbox confirm3-item-checkbox1"></div>
                                <div class="confirm3-item-text">做得好</div>
                            </div>
                            <div class="confirm3-item">
                                <div class="confirm3-item-checkbox confirm3-item-checkbox2"></div>
                                <div class="confirm3-item-text">做得好</div>
                            </div>
                            <div class="confirm3-item">
                                <div class="confirm3-item-checkbox confirm3-item-checkbox3"></div>
                                <div class="confirm3-item-text">做得好</div>
                            </div>
                            <div class="confirm3-item">
                                <div class="confirm3-item-checkbox confirm3-item-checkbox4"></div>
                                <div class="confirm3-item-text">做得好</div>
                            </div>
                        </div>
                        <div class="confirm4">
                            <button ion-button (click)='editItem(1)'>调整计划</button>
                        </div>
                    </div>
                </ion-list>
            </div>
        </div>

        <div class="footer">
            <button class="button" (click)='confirmPlan()'>完成本周计划</button>
        </div>
    </div>
</ion-content>