page-plan {
    .normal-page{
        $slide-height-small: 40px;
        $slide-height-large: 50px;
        ion-item{
            padding: 0;
            margin: 0;
        }
        .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
            border: 0;
        }
        .item-ios.item-block .item-inner{
            padding: 0;
            margin: 0;
        }
        .ion-item-btn{
            background: #F6A0B8;
            color: #fff;
        }
        .label-ios{
            margin: 0;
        }
        .segment-box{
            .slide-title {
                width: 100%;
                height: $slide-height-small;
                color: #666666;
                padding: 0;
                box-shadow: 0 0 3px #ccc;
            }
            
            .slide-title-unit {
                padding-bottom: 8px;
                font-size: 14px;
                height: $slide-height-small;
                line-height: $slide-height-small;
            }
            .swiper-slide{
                width: 50% !important;
            }
            .slide-title-active {
                // color: map_get($colors, primary);
                border-bottom: 3px solid map_get($colors, primary);
            }
            .switch-box{
                width: 100%;
                .switch-box-item{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    box-shadow: 0 0 3px #ccc;
                    padding: 1rem;
                    .item-li{
                        padding: 1rem;
                        line-height: 2.5rem;
                        text-align: center;
                    }
                    .choice{
                        background: #93BBF5;
                        color: #fff;
                        border-radius: 1.5rem;
                    }
                }
                .switch-box-item-confirm{
                    box-shadow: 0 0 3px #ccc;
                    margin: 2rem 1rem 0 1rem;
                    padding: 1rem;
                    position: relative;
                    border-radius: 0.5rem;
                    .pos-div{
                        position: absolute;
                        top: -1rem;
                        line-height: 3rem;
                        text-align: center;
                        padding: 0 1rem;
                        left: 1rem;
                        background: #93BBF5;
                        color: #fff;
                    }
                    .confirm1{
                        height: 4.5rem;
                        display: flex;
                        justify-content: space-between;
                        .confirm1-left{
                            align-self: flex-end;
                        }
                        .confirm1-right{
                            align-self: flex-start;
                        }
                    }
                    .confirm2{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        padding: 1rem 0;
                        .confirm2-item{
                            width: 3rem;
                            height: 3rem;
                            border-radius: 50%;
                            border: 1px solid;
                            background: #DBDBDC;
                            line-height: 3rem;
                            text-align: center;
                        }
                        .confirm2-item-style1{
                            background: #93BBF5;
                            color: #fff;
                        }
                        .confirm2-item-style2{
                            background: #F38BA8;
                            color: #fff;
                        }
                    }
                    .confirm3{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        .confirm3-item{
                            display: flex;
                            align-items: center;
                            .confirm3-item-checkbox{
                                width: 15px;
                                height: 15px;
                                margin: 0 0.3rem;
                            }
                            .confirm3-item-checkbox1{
                                background: #F38BA8;
                            }
                            .confirm3-item-checkbox2{
                                background: #93BBF5;
                            }
                            .confirm3-item-checkbox3{
                                background: #F7C1A5;
                            }
                            .confirm3-item-checkbox4{
                                background: #DBDBDC;
                            }
                            .confirm3-item-text{
                                font-size: 10px;
                            }
                        }
                    }
                    .confirm4{
                        text-align: center;
                        padding-top: 1rem;
                        button{
                            width: 12rem;
                            height: 3.4rem;
                            line-height: 3.4rem;
                            border-radius: 1.7rem;
                            text-align: center;
                            box-shadow: 0 0 3px #93BBF5;
                        }
                    }
                }
                .switch-box-detail{
                    padding: 16px;
                    background: #F2F2F2;
                    box-shadow: 0 0 3px #F2F2F2;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .detail-item{
                        display: flex;
                        align-items: center;
                    }
                    .second-text{
                        padding: 0 1rem;
                    }
                }
            }
            
        }

        .footer{
            position: absolute;
            width: 100%;
            bottom: 3.5rem;
            text-align: center;
            button{
                margin-top: 1rem;
                width: 80%;
                height: 3rem;
                line-height: 3rem;
                border-radius: 1.5rem;
                color: #fff;
            }
        }
    }
}
