<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      课程
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="normal-page">
    <div class='segment-box'>
      <ion-slides class="slide-title" [slidesPerView]="pageNumber" [pager]="false">
        <ion-slide *ngFor="let slide of slides; let i = index;">
          <div (click)="onClick(i)">
            <span class="slide-title-unit" [ngClass]="{'slide-title-active': selectedIndex == i}">{{slide}}</span>
          </div>
        </ion-slide>
      </ion-slides>
      <div class="switch-box" [ngSwitch]="selectedIndex">
        <ion-list *ngSwitchCase="0">
          <div class="switch-box-item"  (click)='toVideo()'>
            <div class="item">
              <img src="../../assets/imgs/class-img.png" alt="">
            </div>
            <div class="item">
              <div>如何进行体重管理</div>
              <div>你的健康体重由自己管理</div>
              <div>2019年1月20日</div>
            </div>
          </div>
        </ion-list>
        <ion-list *ngSwitchCase="1">
          <div class="switch-box-item2" (click)='toVideo()'>
            <img class="bg" src="../../assets/imgs/audio-bg.png" alt="">
            <div class="pos-center">
              <img src="../../assets/imgs/pause.png" alt="">
              <div>控制体重—你的生活管理</div>
            </div>
            <div class="pos-bottom">
              <img src="../../assets/imgs/ripples.png" alt="">
            </div>
          </div>
        </ion-list>
        <ion-list *ngSwitchCase="2">
          <div class="switch-box-item2"  (click)='toVideo()'>
            <img class="bg" src="../../assets/imgs/audio-bg.png" alt="">
            <div class="pos-center">
              <img src="../../assets/imgs/pause.png" alt="">
              <div>控制体重—你的生活管理</div>
            </div>
          </div>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>