page-class {
    .normal-page{
        $slide-height-small: 40px;
        $slide-height-large: 50px;
        .segment-box{
            .slide-title {
                width: 100%;
                height: $slide-height-small;
                color: #666666;
                padding: 0;
                box-shadow: 0 0 3px #ccc;
            }
            
            .slide-title-unit {
                padding-bottom: 8px;
                font-size: 14px;
                height: $slide-height-small;
                line-height: $slide-height-small;
            }
            .swiper-slide{
                width: 33.3% !important;
            }
            .slide-title-active {
                // color: map_get($colors, primary);
                border-bottom: 3px solid map_get($colors, primary);
            }
            .switch-box{
                width: 100%;
                .switch-box-item{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 0 3px #ccc;
                    padding: 1rem;
                    .item{
                        width: 50%;
                        line-height: 2.5rem;
                    }
                }
            }
            .switch-box-item2{
                width: 100%;
                padding: 1rem;
                box-shadow: 0 0 3px #ccc;
                position: relative;
                overflow: hidden;
                .bg{
                    width: 100%;
                }
                .pos-center{
                    position: absolute;
                    width: 100%;
                    top: 5rem;
                    color: #fff;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img{
                        width: 41px;
                        height: 41px;
                        margin-bottom: 1rem;
                    }
                }
                .pos-bottom{
                    position: absolute;
                    bottom: -1.5rem;
                    width: 100%;
                    margin-left: -1rem;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}
