page-index-choice {
    .normal-page{
        margin-top: 1rem;
        .page-title{
            text-align: center;
            color: #58B5FC;
        }
        .page-content{
            width: 100%;
            margin: 1rem 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            .item-box{
                width: 33.3%;
                box-sizing: border-box;
                box-shadow: 0 0 3px #dedede;
                text-align: center;
                line-height: 10rem;
                border-radius: 0.5rem;
            }
            .choice-item{
                background: #58B5FC;
                color: #fff;
            }
        }
        .footer-btn{
            position: absolute;
            bottom: 3rem;
            width: 100%;
            margin-left: -16px;
            display: flex;
            justify-content: center;
            .choice-btn{
                width: 70%;
                line-height: 3.4rem;
                text-align: center;
                background: #58B5FC;
                color: #fff;
                box-shadow: 0 0 3px #58B5FC;
                border-radius: 1.7rem;
            }
        }
    }
}
