<!--
  Generated template for the IndexChoicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>index-choice</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="normal-page">
    <div class="page-title">
      请选择您所患的病种
    </div>
    <div class="page-content">
      <div class="item-box" *ngFor="let item of listData, let i = index" (click)="showItem(i)" [ngClass]="{'choice-item': item.flag}">
        {{item.text}}
      </div>
    </div>
    <div class="footer-btn">
      <div class="choice-btn" (click)='choiceGood()'>
        我选好了
      </div>
    </div>
  </div>
</ion-content>
