page-blood-pressure-data {
    .normal-page{
        .flex-box{
            padding: 1.3rem;
            display: flex;
            box-shadow: 0 0 5px #ccc;
            align-items: center;
            justify-content: space-between;
            color: #9C9C9C;
            .left-box{
                
            }
            .right-box{
                span{
                    padding: 0 1rem;
                    border-radius: 1rem;
                    border: 1px solid #F7C1A5;
                    text-align: center;
                    height: 2.5rem;
                    line-height: 2.5rem;
                }
            }
        }
        .footer-btn{
            position: absolute;
            bottom: 3rem;
            width: 100%;
            display: flex;
            justify-content: center;
            .choice-btn{
                width: 70%;
                line-height: 3.4rem;
                margin-top: 2rem;
                text-align: center;
                background: #58B5FC;
                color: #fff;
                box-shadow: 0 0 3px #58B5FC;
                border-radius: 1.7rem;
            }
        }
    }
}
