<!--
  Generated template for the BloodPressureDataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>血压数据</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="normal-page">
    <div class="flex-box">
      <div class="left-box">
        <div>日期：2019年1月2日</div>
        <div>时间：16：00——18：00</div>
        <div>收缩压：110mmHg</div>
        <div>舒张压：80mmHg</div>
        <div>脉搏：75次/分</div>
      </div>
      <div class="right-box">
        <span>正常</span>
      </div>
    </div>

    <div class="footer-btn">
      <div class="choice-btn" (click)='checkBloodPressure()'>
        查看血压曲线
      </div>
    </div>
  </div>
</ion-content>