page-home {
    .normal-page{
        background: #58B5FC;
        position: relative;
        .pos-top{
            position: absolute;
            padding: 16px;
            width: 90%;
            left: 5%;
            top: 3rem;
            box-shadow: 0 0 3px #ccc;
            border-radius: 0.5rem;
            background: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            div{
                padding: 0.7rem 0;
            }
            .header-img{
                width: 5rem;
                height: 5rem;
                overflow: hidden;
                border-radius: 50%;
                img{
                    max-width: 5rem;
                }
            }
        }
        .pos-top-row{
            position: absolute;
            padding: 16px;
            width: 90%;
            left: 5%;
            top: 3rem;
            box-shadow: 0 0 3px #ccc;
            border-radius: 0.5rem;
            background: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 3rem;
            color: #58B5FC;
            .header-img{
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #FCB793;
                img{
                    max-width: 5rem;
                }
            }
        }
        .content-box{
            padding-top: 12rem;
            .content{
                background: #fff;
                .flex-box{
                    display: flex;
                    align-items: center;
                    padding-top: 10rem;
                    .left-con{
                        width: 60%;
                        padding-left: 2.5rem;
                        line-height: 2.5rem;
                        color: #58B5FC;
                    }
                    .right-con{
                        width: 40%;
                        img{
                            width: 12rem;
                        }
                    }
                }
                .list-box{
                    display: flex;
                    width: 100%;
                    justify-content: space-around;
                    padding-top: 5rem;
                    .list-item{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        line-height: 2.5rem;
                        img{
                            max-width: 30px;
                        }
                    }
                }
                .need-do{
                    padding: 16px;
                    .need-do-title{
                        font-size: 1.7rem;
                        line-height: 3.3rem;
                    }
                    .need-do-box{
                        box-shadow: 0 0 3px #ccc;
                        border-radius: 0.5rem;
                        padding: 1.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between; 
                        .need-list-item-center{
                            flex-grow: 1;
                            text-indent: 2rem;
                        }
                        .need-list-item-end{
                            span{
                                padding: 0.1rem 0.5rem;
                                border: 1px solid #FCB793;
                                border-radius: 1rem;
                            }
                        }
                    }
                }
                .btn{
                    width: 100%;
                    text-align: center;
                    margin-top: 3rem;
                    button{
                        width: 70%;
                        height: 3.4rem;
                        border-radius: 1.7rem;
                    }
                }
            }
            
        }

        .pos-modal{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 99;
            .pos-dialog{
                position: absolute;
                width: 100%;
                background: rgba(0, 0, 0, 0.3);
                .pos-content{
                    padding: 1.6rem 2rem;
                    width: 26rem;
                    margin: 14rem auto 0 auto;
                    background: #fff;
                    border-radius: 0.7rem;
                    .font-color1{
                        padding: 0 0.5rem;
                    }
                    .modal-header{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 3rem;
                    }
                    .modal-center{
                        line-height: 2rem;
                        letter-spacing: 3px;
                    }
                    .modal-footer{
                        text-align: center;
                        margin: 1rem 0;
                        button{
                            width: 80%;
                            height: 3rem;
                            line-height: 3rem;
                            border-radius: 1.5rem;
                        }
                    }
                }
                .modal-close{
                    margin: 6rem;
                    text-align: center;
                    img{
                        width: 37px;
                        height: 37px;
                    }
                }
            }
        }
    }
}
