<ion-header>
  <ion-navbar color="primary">
    <ion-title>首页</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="normal-page">
    <div class="pos-top" *ngIf='!canShow'>
      <div class="header-img">
        <img src="../../assets/imgs/women.png" alt="">
      </div>
      <div>你已申请加入徐汇糖尿病--A组</div>
      <div>请等待审核</div>
    </div>
    <div class="pos-top-row" *ngIf='canShow'>
      <div class='row-left-item'>
        <div>徐汇四和花园居委—糖尿病A组</div>
        <div>活动时间：每周三14：30</div>
        <div>成员：20人</div>
      </div>
      <div class="header-img">
        <img src="../../assets/imgs/women.png" alt="">
        <span>陆长风</span>
      </div>
    </div>
    <div class="content-box">
      <div class="content" *ngIf='!canShow'>
        <div class="flex-box">
          <div class="left-con">
            <div>管理员正在努力审核</div>
            <div>请耐心等待哦！</div>
          </div>
          <div class="right-con">
            <img src="../../assets/imgs/shenhe-icon.png" alt="">
          </div>
        </div>
        <div class="btn">
          <button ion-button (click)='toClass()'>查看课程</button>
        </div>
      </div>
      <div class="content" *ngIf='canShow'>
        <div class="list-box">
          <div class="list-item" *ngFor='let item of listData, let i = index' (click)='toNotice(i)'>
            <img src="{{item.img}}" alt="">
            <span>{{item.title}}</span>
          </div>
        </div>
        <div class="need-do">
          <div class='need-do-title'>今日待办</div>
          <div class="need-do-box">
            <div class="need-list-item">
              <img src="../../assets/imgs/yaliji.png" alt="">
            </div>
            <div class="need-list-item-center">
              <div>量血压</div>
              <div>量下今日血压吧！</div>
            </div>
            <div class="need-list-item-end" (click)='toRecordBlood()'>
              <span>完成</span>
            </div>
          </div>
        </div>
        <div class="btn">
          <button ion-button (click)='toChat()'>群组聊天</button>
        </div>
      </div>
    </div>

    <div class="pos-modal" *ngIf='pushModal'>
        <div class="pos-dialog">
            <div class="pos-content">
                <div class="modal-header">
                    <img src="../../assets/imgs/notice-line.png" alt="">
                    <span class="font-color1">{{modalTextArr[0].title}}</span>
                    <img src="../../assets/imgs/notice-line.png" alt="">
                </div>
                <div class="modal-center font-color4">
                    {{modalTextArr[0].text}}
                </div>
                <div class="modal-footer">
                    <button ion-button (click)='checkConform()'>去完成</button>
                </div>
            </div>
            <div class="modal-close" (click)='closeModal()'>
                <img src="../../../assets/imgs/modal-close.png" alt="">
            </div>
        </div>
    </div>
  </div>
</ion-content>