page-chat-info {
    .normal-page{
        ion-multi-picker{
            width: 20rem;
        }
        .page-content{
            ul{
                li{
                    color: #9C9C9C;
                    padding: 1rem;
                    border-bottom: 1px solid #ccc;
                    display: flex;
                    height: 5rem;
                    justify-content: space-between;
                    align-items: center;
                    .box{
                        display: flex;
                        align-items: center;
                        span{
                            padding: 0 0.5rem;
                            position: relative;
                        }
                        .switch-box{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 2rem;
                            color: #58B5FC;
                            .switch-item1{
                                border-radius: 1rem 0 0 1rem;
                                border: 1px solid #58B5FC;
                                padding: 0 0.7rem;
                            }
                            .switch-item2{
                                border-radius: 0 1rem 1rem 0;
                                border: 1px solid #58B5FC;
                                padding: 0 0.7rem;
                            }
                            .bgacolor{
                                background: #58B5FC;
                                color: #fff;
                            }
                        }
                    } 
                }
            }
            
        }
        .footer-btn{
            position: absolute;
            bottom: 3rem;
            width: 100%;
            display: flex;
            justify-content: center;
            .choice-btn{
                width: 70%;
                line-height: 3.4rem;
                margin-top: 2rem;
                text-align: center;
                background: #58B5FC;
                color: #fff;
                box-shadow: 0 0 3px #58B5FC;
                border-radius: 1.7rem;
            }
        }
    }
}
