<!--
  Generated template for the ChoiceItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>群组信息</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="normal-page">
    <div class="page-content">
      <ul>
        <li>
          <div class="box">
            <span>群组名称</span>
          </div>
          <div class="box">
            <span>徐汇四和花园居委糖尿病—A组</span>
          </div>
        </li>
        <li (click)='toGroup()'>
          <div class="box">
            <span>群组成员</span>
          </div>
          <div class="box">
            <ion-icon name="arrow-forward"></ion-icon>
          </div>
        </li>
        <li (click)='toRecord()'>
          <div class="box">
            <span>聊天记录</span>
          </div>
          <div class="box"> 
            <ion-icon name="arrow-forward"></ion-icon>
          </div>
        </li>
        <li>
          <div class="box">
            <span>消息免打扰</span>
          </div>
          <div class="box">
            <div class="switch-box">
              <div [ngClass]="{'switch-item1': true, 'bgacolor': isBegin ? true : false}" (click)='choiceBegin()'>开</div>
              <div [ngClass]="{'switch-item2': true, 'bgacolor': isBegin ? false : true}" (click)='choiceClose()'>关</div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="footer-btn">
      <div class="choice-btn" (click)='choiceQuit()'>
        退出当前小组
      </div>
    </div>
  </div>
</ion-content>