<!-- Generated template for the EvaluateComponent component -->
<div>
  <div class="evaluate">
      <div *ngFor='let item of listData, let i = index' (click)='checkedCli(i)'>
          <img *ngIf='!item.isChecked' src="{{item.img}}" alt="">
          <img *ngIf='item.isChecked' src="{{item.imgChecked}}" alt="">
        </div>
  </div>
</div>