evaluate {
    .evaluate{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        div{
            margin: 0 0.5rem;
        }
        img{
            width: 30px;
            height: 30px;
        }
    }   
}
