page-home-notice {
    .normal-page{
        .list-content{
            .list-title{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 2rem;
                color: #58B5FC;
                div{
                    padding: 0 0.5rem;
                    font-size: 1.7rem;
                }
            }
            ul{
                min-height: 37rem;
                margin: 1.2rem 0;
                line-height: 2.5rem;
                overflow: hidden;
                padding-bottom: 0.5rem;
                .first-li{
                    padding-top: -0.5rem;
                }
                li{
                    padding: 1rem 16px;
                    box-shadow: 0 0 5px #ccc;
                    .notice-item{
                        overflow: hidden;
                        .title{
                            width: 15%;
                        }
                        .content{
                            width: 85%;
                        }
                        div{
                            float: left;
                        }
                    }
                    .notice-item2{
                        overflow: hidden;
                        .title{
                            width: 25%;
                        }
                        .content{
                            width: 75%;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            overflow: hidden;
                        }
                        div{
                            float: left;
                        }
                    }
                    .notice-item3{
                        padding-top: 0.5rem;
                        font-size: 1.2rem;
                        color: #7B7B7B;
                        display: flex;
                        justify-content: space-between;
                        .left-content{
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            div{
                                padding-left: 0.3rem;
                            }
                            
                        }
                        .right-content{
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            div{
                                padding: 0 0.3rem;
                            }
                        }
                    }
                }
            }
        }
        
        .footer-btn{
            margin: 0 0 1.5rem 0;
            width: 100%;
            display: flex;
            justify-content: center;
            .choice-btn{
                width: 70%;
                line-height: 3.4rem;
                margin-top: 2rem;
                text-align: center;
                background: #58B5FC;
                color: #fff;
                box-shadow: 0 0 3px #58B5FC;
                border-radius: 1.7rem;
            }
        }
    }
    
}
