<!--
  Generated template for the ChoiceItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>公告通知</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="normal-page">
    <div class="list-content">
      <div class="list-title">
        <img src="../../assets/imgs/notice-line.png" alt="">
        <div>最新公告</div>
        <img src="../../assets/imgs/notice-line.png" alt="">
      </div>
      <ul>
        <li class="first-li" *ngFor='let item of listData, let i = index' [ngClass]="{'first-li': i==0?true:false}" (click)='toNoticeDetail()'>
          <div class="notice-item">
            <div class="title">
              通知:
            </div>
            <div class="content">{{item.notice}}</div>
          </div>
          <div class="notice-item" *ngIf='i == 0'>
            <div class="title">
              地点:
            </div>
            <div class="content">{{item.address}}</div>
          </div>
          <div class="notice-item" *ngIf='i == 0'>
            <div class="title">
              时间:
            </div>
            <div class="content">{{item.time}}</div>
          </div>
          <div class="notice-item2" *ngIf='i == 0'>
            <div class="title">公告内容:</div>
            <div class="content">{{item.content}}</div>
          </div>
          <div class="notice-item3">
            <div class="left-content">
              <img src="../../assets/imgs/eye.png" alt="">
              <div>{{item.looks}}</div>
            </div>
            <div class="right-content">
              <div>{{item.userTitle}}</div>
              <div>|</div>
              <div>{{item.dateTime}}</div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="footer-btn">
      <div class="choice-btn" (click)='createNotice()'>
        新建公告
      </div>
    </div>
  </div>
</ion-content>