<!--
  Generated template for the ChoiceItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>记录血压</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="normal-page">
    <div class="page-content">
      <ul>
        <li>
          <div class="box">
            <span>请选择时间</span>
          </div>
          <div class="box">
            <ion-item>
              <ion-multi-picker item-content [multiPickerColumns]="hourMinute" doneText="确定" cancelText="取消">
              </ion-multi-picker>
            </ion-item>
            <!-- <ion-icon name="arrow-forward"></ion-icon> -->
          </div>
        </li>
        <li>
        <div class="box">
          <span>收缩压</span>
        </div>
        <div class="box first-box">
          <input type="text">
        </div>
        </li>
        <li>
          <div class="box">
            <span>舒张压</span>
          </div>
          <div class="box first-box">
            <input type="text">
          </div>
        </li>
        <li>
          <div class="box">
            <span>脉搏</span>
          </div>
          <div class="box first-box">
            <input type="text">
          </div>
        </li>

      </ul>
    </div>

    <div class="footer-btn">
      <div class="choice-btn" (click)='publicNotice()'>
        完成
      </div>
    </div>
  </div>
</ion-content>