<ion-header>

    <ion-navbar>
      <ion-title>search</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
    <div class="normal-page">
      <div class="top-bar">
          <input type="text" placeholder="请输入关键字" (focus)='inputFocus()' [(ngModel)]="keyword"><ion-icon class="search" name="search"></ion-icon>
      </div>
      <ul class="flex-ul" *ngIf='searching'>
          <li *ngFor="let i of allData" (click)='toPage(i.id)'>
              <div class="header-img">
                <img src="../../assets/imgs/man.png" alt="">
              </div>
              <div class="center-content">
                <div>
                  陈逸飞 
                </div>
                <div>
                    <span [innerHTML]='i.content | wordPlace:keyword'></span>
                </div>
              </div>
              <div class="end-date">
                1月24日
              </div>
              <!-- <div class="text-item"><span [innerHTML]='i.content | wordPlace:keyword'></span></div> -->
          </li>
      </ul>
  </div>
  </ion-content>
  