<!--
  Generated template for the ChoiceItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar>
    <ion-title>choice-item</ion-title>
  </ion-navbar> -->

</ion-header>


<ion-content padding>
  <div class="normal-page">
    <div class="page-content">
      <div class="header-img">
        <img src="../../assets/imgs/awaiting-right.png" alt="">
      </div>
      <div>申请成功</div>
      <div>等待管理员审核</div>
    </div>

    <div class="footer-btn">
      <div class="choice-btn" (click)='choiceGood()'>
        进入首页
      </div>
    </div>
  </div>
</ion-content>
