page-awaiting-audit {
    .normal-page{
        margin-top: 1rem;
        .page-title{
            text-align: center;
            color: #58B5FC;
        }
        ion-multi-picker{
            width: 20rem;
        }
        .page-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 3.5rem;
            margin-top: 6rem;
            .header-img{
                img{
                    width: 5.1rem;
                    height: 5.1rem;
                }
            }
        }
        .footer-btn{
            position: absolute;
            bottom: 3rem;
            width: 100%;
            margin-left: -16px;
            display: flex;
            justify-content: center;
            .choice-btn{
                width: 70%;
                line-height: 3.4rem;
                margin-top: 2rem;
                text-align: center;
                background: #58B5FC;
                color: #fff;
                box-shadow: 0 0 3px #58B5FC;
                border-radius: 1.7rem;
            }
        }
    }
}
