page-create-plan {
    .normal-page{
        ion-multi-picker{
            font-size: 1.4rem;
            padding: 0 !important;
        }
        .multi-picker-text, .multi-picker-placeholder{
            color: #9C9C9C;
        }
        .item-ios{
            padding: 0;
        }
        .datetime-text{
            padding-top: 0.5rem;
        }
        .page-content{
            ul{
                li{
                    color: #9C9C9C;
                    padding: 1rem;
                    border-bottom: 1px solid #ccc;
                    display: flex;
                    height: 5rem;
                    justify-content: space-between;
                    align-items: center;
                    .box{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        span{
                            padding: 0 0.5rem;
                            position: relative;
                        }
                    } 
                    .first-box{
                        input{
                            width: 100%;
                            width: 20rem;
                            padding-right: 1rem;
                        }
                    }
                }
                .end-item{
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    height: auto;
                    line-height: 2.5rem;
                    .box-end{
                        width: 100%;
                        padding: 0 0.5rem;
                        textarea{
                            width: 100%;
                        }
                    }
                    
                }
            }
            
        }
        .footer-btn{
            position: absolute;
            bottom: 3rem;
            width: 100%;
            display: flex;
            justify-content: center;
            .choice-btn{
                width: 70%;
                line-height: 3.4rem;
                margin-top: 2rem;
                text-align: center;
                background: #58B5FC;
                color: #fff;
                box-shadow: 0 0 3px #58B5FC;
                border-radius: 1.7rem;
            }
        }

        .pos-modal{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 99;
            .pos-dialog{
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3);
                .pos-content{
                    padding: 2rem;
                    width: 25rem;
                    margin: 7rem auto;
                    box-shadow: 0 0 3px #f2f2f2;
                    border-radius: 0.5rem;
                    background: #fff;
                    .font-color1{
                        padding: 0 0.5rem;
                    }
                    .pos-title{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        div{
                            padding: 0 1rem;
                            color: #58B5FC;
                        }
                    }
                    .pos-content-item{
                        margin: 1rem 0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .pos-content-item-title{
                            text-align: center;
                        }
                        .pos-content-content{
                            .item{
                                display: flex;
                                align-items: center;
                                line-height: 2.5rem;
                                img{
                                    margin-right: 1rem;
                                }
                            }
                        }
                    }
                    .pos-footer{
                        display: flex;
                        justify-content: center;
                        .btn{
                            margin: 0 1rem;
                            button{
                                margin-top: 1rem;
                                height: 3rem;
                                line-height: 3rem;
                                border-radius: 1.5rem;
                                color: #fff;
                                padding: 0 3rem;
                                background: #58B5FC;
                            }
                        }
                    }
                }
            }
        }
    }
}
