<!--
  Generated template for the ChoiceItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>记录血压</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="normal-page">
    <div class="page-content">
      <ul>
        <li>
          <!-- <div class="box">
                <span>收缩压</span>
              </div> -->
          <div class="box first-box">
            <input type="text" placeholder="计划内容（如散步、控制饮食）">
          </div>
        </li>
        <li>
          <!-- <div class="box">
                    <span>收缩压</span>
                  </div> -->
          <div class="box first-box">
            <input type="text" placeholder="做多少（如散步10分钟）">
          </div>
        </li>
        <li>
          <!-- <div class="box">
                        <span>收缩压</span>
                      </div> -->
          <div class="box first-box">
            <input type="text" placeholder="计划何时执行">
          </div>
        </li>
        <li>
          <!-- <div class="box">
            <span>计划内容（如散步、控制饮食）</span>
          </div> -->
          <div class="box">
            <ion-item>
              <ion-multi-picker item-content [multiPickerColumns]="hourMinute" placeholder="一周进行次数" doneText="确定"
                cancelText="取消">
              </ion-multi-picker>
            </ion-item>
            <!-- <ion-icon name="arrow-forward"></ion-icon> -->
          </div>
        </li>
        <li>
          <!-- <div class="box">
              <span>计划内容（如散步、控制饮食）</span>
            </div> -->
          <div class="box">
            <ion-item>
              <ion-multi-picker item-content [multiPickerColumns]="hourMinute" placeholder="对完成计划的自信心" doneText="确定"
                cancelText="取消">
              </ion-multi-picker>
            </ion-item>
            <!-- <ion-icon name="arrow-forward"></ion-icon> -->
          </div>
        </li>
      </ul>
    </div>

    <div class="footer-btn">
      <div class="choice-btn" (click)='publicPlan()'>
        提交计划
      </div>
    </div>

    <div class="pos-modal" *ngIf='showPlan'>
      <div class="pos-dialog">
        <div class="pos-content">
          <div class="pos-title">
            <img src="../../assets/imgs/notice-line.png" alt="">
            <div>计划确认</div>
            <img src="../../assets/imgs/notice-line.png" alt="">
          </div>
          <div class="pos-content-item">
            <div class="pos-content-item-title">
              您本周计划内容为：
            </div>
            <div class="pos-content-content">
              <div class="item">
                <img src="../../assets/imgs/plan-react.png" alt="">
                <div>饭后散步10分钟</div>
              </div>
              <div class="item">
                <img src="../../assets/imgs/plan-react.png" alt="">
                <div>饭后散步10分钟</div>
              </div>
            </div>
          </div>
          <div class="pos-footer">
            <div class="btn">
              <button class="button" (click)='tiaozheng()'>容我想想</button>
            </div>
            <div class="btn">
              <button class="button" (click)='createPlan()'>我确定</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>