// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
html,body{
    color: #5F5D5D;
}
// tabs的图标重置
.tabs-ios .tab-button-icon{
    min-width: auto!important;
}
.ion-tab-icon-base {
    width: auto !important;
    height: 28px !important;
    padding: 4px 4px 2px;
}
.ion-tab-icon-md-base {
    min-width: 0 !important;
    height: 28px;
}
$tabImageName: 'home' 'class' 'plan' 'mine';
@for $i from 1 to 5 {
    //for ios
    .ion-ios-tab-#{nth($tabImageName, $i)} {
        @extend .ion-tab-icon-base;
        content: url("../../assets/imgs/icon_#{nth($tabImageName, $i)}_on.png");
    }
    .ion-ios-tab-#{nth($tabImageName, $i)}-outline {
        @extend .ion-tab-icon-base;
        content: url("../../assets/imgs/icon_#{nth($tabImageName, $i)}_off.png");
    }
    // for android
    .tabs-md .tab-button[aria-selected=true] {
        .ion-md-tab-#{nth($tabImageName, $i)} {
            @extend .ion-tab-icon-md-base;
            content: url("../../assets/imgs/icon_#{nth($tabImageName, $i)}_on.png");
        }
    }
    .tabs-md .tab-button[aria-selected=false] {
        .ion-md-tab-#{nth($tabImageName, $i)} {
            @extend .ion-tab-icon-md-base;
            content: url("../../assets/imgs/icon_#{nth($tabImageName, $i)}_off.png");
        }
    }
}
.ion-ios-tab-task,.ion-ios-tab-task-outline,.ion-ios-tab-master,.ion-ios-tab-master-outline{
    width: auto !important;
    height: 28px !important;
}


ul,li{ 
    padding: 0;
    margin: 0;
    list-style:none;
}
.text-right{
    text-align: right;
}
.normal-page{
    color: #5F5D5D;
}
.bgccc{
    background: #ccc;
}
.flex-box{
    display: flex;
    height: 100%;
}
.flex-page{
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    
    align-items: center;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
    color: #868888;
}
.font-color1{
    color: #58B5FC!important;
}
.font-color2{
    color: #BCBDBE;
}
.font-color3{
    color: #868888;
}
.font-color4{
    color: #888585;
}
textarea{
    border: 0;
}
.flex-page-row{
    display: flex;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.list-ios > .item-block:first-child{
    border-top: none;
}
.confirm-center-btn{
    text-align: center;
    width: 300px;
    position: fixed;
    left: 50%;
    margin-left: -150px;
    bottom: 30px;
    .confirm-btn{
        width: 250px;
        margin-top: 15px;
    }
}
.green-color{
    color: green;
}
.confirm-btn{
    background: #58B5FC;
}
.item-ios.item-block .item-inner{
    border: 0;
}
.button{
    background: #58B5FC;
    // box-shadow: 0 0 3px #58B5FC;
}
.button-ios.activated{
    background: #58B5FC;
}
.fab-ios.activated{
    background: #58B5FC;
}
.toolbar-content{
    button{
        background: #fff;
    }
}
.action-sheet-ios .action-sheet-button{
    color: #58B5FC;
}
.search{
    color: #58B5FC;
}
.button-md{
    box-shadow: none !important;
}
.picker-ios .picker-below-highlight{
    // top: 125px;
    border-top: 1px solid #58B5FC;
}
.picker-ios .picker-toolbar{
    border-bottom: 0.55px solid #58B5FC;
}
.picker-ios .picker-above-highlight{
    border-bottom: 1px solid #58B5FC;
}
.picker-ios .picker-col{
    justify-content: center;
}
.picker-ios .picker-opt{
    color: #7B7B7B;
    font-size: 16px;
}
.text-input::-webkit-input-placeholder {
    font-size: 1.3rem !important;
}
.header-ios .toolbar-ios:last-child .toolbar-background-ios{
    border-width: 0;
}
.toolbar-background-ios{
    background: #fff;
}
.text-input::-webkit-input-placeholder {
    font-size: 1rem;
}
.datetime-ios{
    padding: 0 0 8px 0;
    // padding-bottom: 8px;
}
.label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input{
    margin: 0 0 8px 0;
}

.text-input:-ms-input-placeholder {
    font-size: 1rem;
    padding-left: 0;
}

.text-input::-moz-placeholder {
    font-size: 1rem;
    padding-left: 0;
}

.text-input:-moz-placeholder {
    font-size: 1rem;
    padding-left: 0;
}
.picker-toolbar{
    .picker-toolbar-button:first-child{
        text-align: left !important;
    }
    .picker-toolbar-multi-picker-reset{
        text-align: center!important;
        button{
            color: #888585;
        }
    }
}
