page-choice-item {
    .normal-page{
        margin-top: 1rem;
        .page-title{
            text-align: center;
            color: #58B5FC;
        }
        ion-multi-picker{
            width: 20rem;
        }
        .page-content{
            ul{
                margin-top: 3rem;
                li{
                    width: 90%;
                    margin: 1rem auto;
                    height: 7.1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding-left: 1rem;
                    box-shadow: 0 0 5px #ccc;
                    border-radius: 0.5rem;
                    position: relative;
                    font-size: 1rem;
                    .pos-right{
                        position: absolute;
                        right: 1.5rem;
                        top: 3rem;
                        img{
                            width: 1.8rem;
                            height: 1rem;;
                        }
                    }
                }
                .choice{
                    background: #58B5FC;
                    color: #fff;
                }
            }
        }
        .footer-btn{
            position: absolute;
            bottom: 3rem;
            width: 100%;
            margin-left: -16px;
            display: flex;
            align-items: center;
            flex-direction: column;
            .choice-btn{
                width: 70%;
                line-height: 3.4rem;
                margin-top: 2rem;
                text-align: center;
                background: #58B5FC;
                color: #fff;
                box-shadow: 0 0 3px #58B5FC;
                border-radius: 1.7rem;
            }
        }
    }
}
