<!--
  Generated template for the ChoiceItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>choice-item</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="normal-page">
    <div class="page-title">
      请在选项中选择一个小组
    </div>
    <div class="page-content">
      <ul>
        <li *ngFor='let item of listData, let i = index' [ngClass]='{"choice": item.show}' (click)='choiceCli(i)'>
          <div class='title1'>{{item.title1}}</div>
          <div class='title2'>活动时间：{{item.title2}}</div>
          <div class="pos-right" *ngIf='item.show'>
            <img src="../../assets/imgs/right.png" alt="">
          </div>
        </li>
      </ul>
    </div>

    <div class="footer-btn">
      <div class="choice-area">
          选择自己合适的小组
      </div>
      <div class="choice-btn" (click)='choiceGood()'>
        完成
      </div>
    </div>
  </div>
</ion-content>