page-choice-position {
    .normal-page{
        margin-top: 1rem;
        .page-title{
            text-align: center;
            color: #58B5FC;
        }
        ion-multi-picker{
            width: 20rem;
        }
        .page-content{
            border: 1px solid #58B5FC;
            border-width: 0 0 1px 0;
            margin-top: 3.5rem;
            .inp-text{
                border: 1px solid #58B5FC;
                border-width: 1px 0 0 0;
                line-height: 4rem;
                text-align: center;
                position: relative;
                .item-inner{
                    border: 0;
                    text-align: center;
                    ion-multi-picker{
                        margin: 0 auto;
                        padding: 0;
                    }
                }
                .pos-search{
                    position: absolute;
                    right: 0;
                    bottom: 1.2rem;
                    display: flex;
                    align-items: center;
                }
                // input{
                //     text-align: center;
                //     font-size: 1.7rem;
                //     margin-left: 5px;
                //     width: 100%;
                // }
            }
        }
        .footer-btn{
            position: absolute;
            bottom: 3rem;
            width: 100%;
            margin-left: -16px;
            display: flex;
            align-items: center;
            flex-direction: column;
            .choice-btn{
                width: 70%;
                line-height: 3.4rem;
                margin-top: 2rem;
                text-align: center;
                background: #58B5FC;
                color: #fff;
                box-shadow: 0 0 3px #58B5FC;
                border-radius: 1.7rem;
            }
        }
    }
}
