<!--
  Generated template for the ChoicePositionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>choice-position</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="normal-page">
    <div class="page-title">
      请填写您的个人信息
    </div>
    <div class="page-content">
      <div class="inp-text">
        <ion-item>
          <ion-multi-picker item-content [multiPickerColumns]="areas" placeholder='地区' doneText="确定" cancelText="取消"></ion-multi-picker>
        </ion-item>
      </div>
      <div class="inp-text">
        <ion-item>
          <ion-multi-picker item-content [multiPickerColumns]="streets" placeholder='街道' doneText="确定" cancelText="取消"></ion-multi-picker>
        </ion-item>
      </div>
      <div class="inp-text">
        <ion-item>
          <ion-multi-picker item-content [multiPickerColumns]="juwei" placeholder='居委' doneText="确定" cancelText="取消"></ion-multi-picker>
        </ion-item>
        <!-- <input type="text" placeholder="居委" > -->
        <div class='pos-search' (click)='search()'>
          <img src="../../assets/imgs/search.png" alt="">
        </div>
      </div>
    </div>

    <div class="footer-btn">
      <div class="choice-area">
        城市：上海
      </div>
      <div class="choice-btn" (click)='choiceGood()'>
        下一步
      </div>
    </div>
  </div>
</ion-content>