<ion-header>

  <ion-navbar>
    <ion-title>search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="normal-page">
    <div class="top-bar">
        <input type="text" placeholder="请输入关键字" (focus)='inputFocus()' [(ngModel)]="keyword"><ion-icon class="search" name="search"></ion-icon>
    </div>
    <!-- <div class='search-text-box' *ngIf='!searching'>
        <div class="box-title">
            <span>搜索记录：</span>
            <span (click)='clearAll()'>
                <img src="../../../assets/imgs/delete.png" alt="">
            </span>
        </div>
        <div class="flex-box">
            <div *ngFor="let i of storgeData">
                <div class="for-list">
                    {{i.text}}
                </div>
            </div>
        </div>
        <div class="box-title">大家都在搜：</div>
        <div class="flex-box">
            <div *ngFor="let i of storgeData">
                <div class="for-list">
                    {{i.text}}
                </div>
            </div>
        </div>
    </div> -->
    <ul class="flex-ul" *ngIf='searching'>
        <li *ngFor="let i of allData" (click)='toPage(i.id)'>
            <!-- <div class="article-title">
                <span [innerHTML]='i.title | wordPlace:keyword'></span>
            </div>
            <div class="article-content">
                {{i.content}}
            </div>
            <div class="article-remark">
                <span>{{i.type}} </span>
                <span>{{i.stage}}</span>
            </div> -->
            <div class="text-item"><span [innerHTML]='i.content | wordPlace:keyword'></span></div>
        </li>
    </ul>
</div>
</ion-content>
