checkbox {
    $overColor: #EF93AD;
    .checkbox{
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        position: relative;
        .is-checked{
            position: absolute;
            top: 2px;
            left: 2px;
            width: 15px;
            height: 9.2px;
        }
    }
    .is-over{
        border-color: $overColor;
        background: $overColor;
    }
}
