<!-- Generated template for the CheckboxComponent component -->
<div>
  <div [ngClass]="{'checkbox': true, 'is-over': values}" (click)='checkCli()'>
    <div class="is-checked" *ngIf='isChecked'>
      <img src="../../assets/imgs/checked.png" alt="">
    </div>
  </div>
</div>
