<!--
  Generated template for the VideoArticlePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>文章详情</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="normal-page">
    <div class="top-video">
      <video src="" controls></video>
    </div>
    <div class="content">

    </div>
  </div>
</ion-content>
