<!--
  Generated template for the NoticeDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>notice-detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="normal-page">
    <ul>
      <li class="first-li">
        <div class="notice-item">
          <div class="title">
            通知:
          </div>
          <div class="content">石门二路街道善昌居委会社区活动；</div>
        </div>
        <div class="notice-item3">
          <div class="left-content">
            <div>组长张清晨</div>
            <div>|</div>
            <div>2019年1月20日</div>
          </div>

          <div class="right-content">
            <img src="../../assets/imgs/eye.png" alt="">
            <div>10</div>
          </div>
        </div>
        <div class="notice-item">
          <div class="title">
            地点:
          </div>
          <div class="content">静安区石门二路街道善昌居委会</div>
        </div>
        <div class="notice-item">
          <div class="title">
            时间:
          </div>
          <div class="content">2月13日 14：30</div>
        </div>
        <div class="notice-item2">
          <div class="title">公告内容:</div>
          <div class="content">的老年生活由自己管理，我们将在社区举行糖尿病患者社区举行糖尿病患者的老年生活由自己管理，我们将在社区举行糖尿病患者社区举行糖尿病患者</div>
        </div>
      </li>
    </ul>

    <div class="footer-btn">
      <div class="choice-btn" (click)='createNotice()'>
        新建公告
      </div>
      <div class="choice-btn" (click)='createNotice()'>
        删除公告
      </div>
    </div>
  </div>
</ion-content>