<!--
  Generated template for the InpuUserinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>inpu-userinfo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="normal-page">
    <div class="page-title">
      请填写您的个人信息
    </div>
    <div class="page-content">
      <div class="header-img">
        <div [ngClass]="{'img-item':true, 'rect-circle': showRight==1 ? true : false}" (click)='choiceMan()'>
          <img src="../../assets/imgs/man.png" alt="">
          <div class="pos-choice" *ngIf='showRight==1'>
            <img src="../../assets/imgs/choice.png" alt="">
          </div>
          
        </div>
        <div [ngClass]="{'img-item':true, 'rect-circle': showRight==2 ? true : false}" id='2' (click)='choiceWoman()'>
          <img src="../../assets/imgs/women.png" alt="">
          <div class="pos-choice" *ngIf='showRight==2'>
            <img src="../../assets/imgs/choice.png" alt="">
          </div>
        </div>
      </div>

      <div class="inp-text">
        <input type="text" placeholder="请填写您的姓名">
      </div>
    </div>
    <div class="footer-btn">
      <div class="choice-btn" (click)='choiceGood()'>
        下一步
      </div>
    </div>
  </div>
</ion-content>
