page-inpu-userinfo {
    .normal-page{
        margin-top: 1rem;
        .page-title{
            text-align: center;
            color: #58B5FC;
        }
        .page-content{
            padding: 1rem 0;
            .header-img{
                display: flex;
                justify-content: space-around;
                align-items: center;
                .img-item{
                    width: 8rem;
                    height: 8rem;
                    padding: 0.7rem;
                    overflow: hidden;
                    border-radius: 0.5rem;
                    position: relative;
                    img{
                        width: 100%;
                    }
                    .pos-choice{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 30px;
                        height: 30px;
                        img{
                            width: 30px;
                        }
                    }
                }
                .rect-circle{
                    box-shadow: 0 0 5px 0 #58B5FC;
                }
            }
            .inp-text{
                border: 1px solid #58B5FC;
                border-width: 1px 0;
                line-height: 4rem;
                margin: 4rem 0;
                input{
                    width: 100%;
                    text-align: center;
                }
            }
        }
        .footer-btn{
            position: absolute;
            bottom: 3rem;
            width: 100%;
            margin-left: -16px;
            display: flex;
            justify-content: center;
            .choice-btn{
                width: 70%;
                line-height: 3.4rem;
                text-align: center;
                background: #58B5FC;
                color: #fff;
                box-shadow: 0 0 3px #58B5FC;
                border-radius: 1.7rem;
            }
        }
    }
}
