page-create-notice {
    .normal-page{
        ion-multi-picker,
        ion-datetime{
            width: 20rem;
            font-size: 1.4rem;
            text-align: right;
        }
        .multi-picker-text, .multi-picker-placeholder{
            color: #9C9C9C;
        }
        .datetime-text{
            padding-top: 0.5rem;
        }
        .page-content{
            ul{
                li{
                    color: #9C9C9C;
                    padding: 1rem;
                    border-bottom: 1px solid #ccc;
                    display: flex;
                    height: 5rem;
                    justify-content: space-between;
                    align-items: center;
                    .box{
                        display: flex;
                        align-items: center;
                        span{
                            padding: 0 0.5rem;
                            position: relative;
                        }
                    } 
                    .first-box{
                        input{
                            text-align: right;
                            width: 20rem;
                            padding-right: 1rem;
                        }
                    }
                }
                .end-item{
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    height: auto;
                    line-height: 2.5rem;
                    .box-end{
                        width: 100%;
                        padding: 0 0.5rem;
                        textarea{
                            width: 100%;
                        }
                    }
                    
                }
            }
            
        }
        .footer-btn{
            position: absolute;
            bottom: 3rem;
            width: 100%;
            display: flex;
            justify-content: center;
            .choice-btn{
                width: 70%;
                line-height: 3.4rem;
                margin-top: 2rem;
                text-align: center;
                background: #58B5FC;
                color: #fff;
                box-shadow: 0 0 3px #58B5FC;
                border-radius: 1.7rem;
            }
        }
    }
}
