<!--
  Generated template for the ChoiceItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>新建公告</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="normal-page">
    <div class="page-content">
      <ul>
        <li>
          <div class="box">
            <span>公告标题</span>
          </div>
          <div class="box first-box">
            <input type="text">
          </div>
        </li>
        <li>
          <div class="box">
            <span>活动日期</span>
          </div>
          <div class="box">
            <ion-item>
              <ion-datetime class='text-input ion-datetime font-color3' displayFormat="YYYY-MM-DD" cancelText="取消" doneText="确定" showReset='选择日期' resetText='选择日期' placeholder="2018-10-01"
                    [(ngModel)]="myDate"></ion-datetime>
            </ion-item>
            
            <!-- <ion-icon name="arrow-forward"></ion-icon> -->
          </div>
        </li>
        <li>
          <div class="box">
            <span>活动时间</span>
          </div>
          <div class="box">
            <ion-item>
              <ion-multi-picker item-content [multiPickerColumns]="hourMinute" doneText="确定" cancelText="取消"></ion-multi-picker>
            </ion-item>
            <!-- <ion-icon name="arrow-forward"></ion-icon> -->
          </div>
        </li>
        <li>
          <div class="box">
            <span>活动地点</span>
          </div>
          <div class="box">
            <ion-item>
              <ion-multi-picker item-content [multiPickerColumns]="juwei" placeholder='居委' doneText="确定" cancelText="取消"></ion-multi-picker>
            </ion-item>
            <!-- <ion-icon name="arrow-forward"></ion-icon> -->
          </div>
        </li>

        <li class="end-item">
          <div class="">
            <span>活动地点</span>
          </div>
          <div class="box-end">
            <textarea name="" id="" rows="5"></textarea>
          </div>
        </li>
      </ul>
    </div>

    <div class="footer-btn">
      <div class="choice-btn" (click)='publicNotice()'>
        发布公告
      </div>
    </div>
  </div>
</ion-content>