<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            我的
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="normal-page">
        
    </div>
</ion-content>