<!--
  Generated template for the ComfirmPlanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>完成计划</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="normal-page">
    <div class="top-title">
      请对您的本周计划做个评价：
    </div>
    <div class="content-title">3.1-3.5</div>
    <div class="content-center">
      <div class="list">
        <div class="list-item">
          <div class="sub-title">
            <div>
              <checkbox></checkbox>
            </div>
            <div class="center-item">
              饭后散步
            </div>
            <div>周一11：00</div>
          </div>
          <div class="evaluate-box">
            <evaluate></evaluate>
          </div>
        </div>
      </div>
      <div class="list">
        <div class="list-item">
          <div class="sub-title">
            <div>
              <checkbox></checkbox>
            </div>
            <div class="center-item">
              饭后散步
            </div>
            <div>周二11：00</div>
          </div>
          <div class="evaluate-box">
            <evaluate></evaluate>
          </div>
        </div>
      </div>
      <div class="list">
        <div class="list-item">
          <div class="sub-title">
            <div>
              <checkbox></checkbox>
            </div>
            <div class="center-item">
              饭后散步
            </div>
            <div>周三11：00</div>
          </div>
          <div class="evaluate-box">
            <evaluate></evaluate>
          </div>
        </div>
      </div>
      <div class="list">
        <div class="list-item">
          <div class="sub-title">
            <div>
              <checkbox></checkbox>
            </div>
            <div class="center-item">
              饭后散步
            </div>
            <div>周四11：00</div>
          </div>
          <div class="evaluate-box">
            <evaluate></evaluate>
          </div>
        </div>
      </div>
      <div class="list">
        <div class="list-item">
          <div class="sub-title">
            <div>
              <checkbox></checkbox>
            </div>
            <div class="center-item">
              饭后散步
            </div>
            <div>周五11：00</div>
          </div>
          <div class="evaluate-box">
            <evaluate></evaluate>
          </div>
        </div>
      </div>
      <div class="list">
        <div class="list-item">
          <div class="sub-title">
            <div>
              <checkbox></checkbox>
            </div>
            <div class="center-item">
              饭后散步
            </div>
            <div>周六11：00</div>
          </div>
          <div class="evaluate-box">
            <evaluate></evaluate>
          </div>
        </div>
      </div>
      <div class="list">
        <div class="list-item">
          <div class="sub-title">
            <div>
              <checkbox></checkbox>
            </div>
            <div class="center-item">
              饭后散步
            </div>
            <div>周日11：00</div>
          </div>
          <div class="evaluate-box">
            <evaluate></evaluate>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-btn">
      <div class="choice-btn" (click)='pubFankui()'>
        提交反馈
      </div>
    </div>

    <div class="pos-modal" *ngIf='showModal'>
      <div class="pos-dialog">
        <div class="pos-content">
          <div class="pos-title">
            <div class="pos-title-img">
                <img src="../../assets/imgs/damuzhi.png" alt="">
                <div class="pos-img">
                    <img src="../../assets/imgs/san-ge-xin.png" alt="">
                  </div>
            </div>
          </div>
          <div class="pos-content-item">
            <div class="pos-content-title">
              你很棒棒哒
            </div>
            <div class="pos-content-center">
              恭喜你已完成本周计划总结反馈，请继续努力保持做计划！
            </div>
          </div>
          <div class="pos-footer">
            <div class="btn">
              <button class="button" (click)='tiaozheng()'>调整计划</button>
            </div>
            <div class="btn">
              <button class="button" (click)='createPlan()'>新建计划</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>