page-comfirm-plan {
    .normal-page{
        .content-title{
            position: absolute;
            width: 6rem;
            height: 3rem;
            line-height: 3rem;
            background: #93BBF5;
            color: #fff;
            text-align: center;
            z-index: 10;
        }
        .content-center{
            height: 70vh;
            overflow: scroll;
            width: 100%;
            margin: 1.5rem 0;
            padding: 1rem;
            box-shadow: 0 0 3px #f2f2f2;
            border-radius: 0.5rem;
            .list{
                .list-item{
                    .sub-title{
                        display: flex;
                        align-items: center;
                        padding: 1rem 0;
                        .center-item{
                            padding: 0 3rem 0 1rem;
                        }
                    }
                    .evaluate-box{
                        padding: 0 2rem;
                    }
                }
            }
        }
        .footer-btn{
            position: absolute;
            bottom: 3rem;
            width: 100%;
            margin-left: -16px;
            display: flex;
            justify-content: center;
            .choice-btn{
                width: 70%;
                line-height: 3.4rem;
                margin-top: 2rem;
                text-align: center;
                background: #58B5FC;
                color: #fff;
                box-shadow: 0 0 3px #58B5FC;
                border-radius: 1.7rem;
            }
        }

        .pos-modal{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 99;
            .pos-dialog{
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3);
                .pos-content{
                    padding: 1.6rem 2rem;
                    width: 100%;
                    height: 100%;
                    background: #fff;
                    .font-color1{
                        padding: 0 0.5rem;
                    }
                    .pos-title{
                        text-align: center;
                        .pos-title-img{
                            position: relative;
                            padding-top: 2rem;
                            width: 60px;
                            margin: 0 auto;
                            img{
                                width: 38.8px;
                                height: 35.5px;
                            }
                            .pos-img{
                                position: absolute;
                                right: -20px;
                                top: 0;
                            }
                        }
                        
                    }
                    .pos-content-item{
                        margin: 1rem 0;
                        text-align: center;
                        .pos-content-title{
                            color: #58B5FC;
                        }
                        .pos-content-center{

                        }
                    }
                    .pos-footer{
                        display: flex;
                        justify-content: center;
                        .btn{
                            margin: 0 1rem;
                            button{
                                margin-top: 1rem;
                                height: 3rem;
                                line-height: 3rem;
                                border-radius: 1.5rem;
                                color: #fff;
                                padding: 0 3rem;
                                background: #58B5FC;
                            }
                        }
                    }
                }
            }
        }
    }
}
